* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	text-rendering: optimizeLegibility;
}

body {
	background: black;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	width: 100vw;
	height: 100vh;
}